/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

figure
  text-align center

figure table
  display inline-block

figcaption
  font-size 80%
  font-style italic

.formulae
  text-align center
  font-size 150%
  
.gallery-table
  display: table
  width: 100%
  table-layout: fixed

.gallery-table th, td
  vertical-align: bottom

.gallery-table figure
  margin: 0px
  height: 100%

.gallery-table figcaption
  font-size: 70%