/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

figure
  text-align center

figure table
  display inline-block

figcaption
  font-size 80%
  font-style italic

.formulae
  text-align center
  font-size 150%

